body{
	background: #44bcda;  
	font-family: 'Mouse Memoirs', sans-serif;
}

h1{
	font-family: 'Mouse Memoirs', sans-serif;
	text-align: center;
	font-size: 100px;
	padding: 20px;
}

footer{
	font-family: 'Mouse Memoirs', sans-serif;
	text-align: center;
	font-size: 20px;
	padding: 20px;
}

.dog{

	background-size: 100%;
	position: relative;
	vertical-align: top;
	width: 300px;
	height: 300px;
	background:#e49553;
	border-radius: 200px 200px 200px 200px;
	text-align: center;
	margin: 0 auto;
	box-shadow: 20px 20px 20px black;
	border: solid 2px 2px 2px black;
}
.left-eye{
	content: '';
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	top: 60px;
	left: 70px;
	background: black;
	border-radius: 35px 35px 35px 35px;
	border: 20px solid white;
}
.right-eye{
	content: '';
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	top: 60px;
	right: 70px;
	background: black;
	border-radius: 35px 35px 35px 35px;
	border: 20px solid white;
	
}
.dog:hover .left-ear{
	transform: rotate(30deg);
	-webkit-transform:rotate(30deg);
	webkit-transition: 1.5s ease;
	
}
.left-ear{
	content: '';
	position: absolute;
	display: block;
	width: 74px;
	height: 190px;
	top: -5px;
	bottom: -20px;
	left: -40px;
	background: #3a210a;
	border-radius: 204px 4px 204px 4px;	
	transform: rotate(24deg);	
	-webkit-transform:rotate(24deg);	
}
.dog:hover .right-ear{
	transform: rotate(-30deg);
	-webkit-transform:rotate(-30deg);
	webkit-transition: 1.5s ease;
	margin-left: 20px;
}
.right-ear{
	content: '';
	position: absolute;
	display: block;
	width: 74px;
	height: 190px;
	top: -5px;
	bottom: -20px;
	right: -40px;
	background: #3a210a;
	border-radius: 4px 204px 4px 204px;	
	transform: rotate(-24deg);	
	-webkit-transform:rotate(-24deg);
}

.nose{
	content: '';
	position: absolute;
	display: block;
	width: 140px;
	height: 70px;
	background: black;
	right: 80px;
	top: 160px;
	border-radius: 40px 40px 240px 240px;
	border: 4px solid #D68;
}
.tounge{
	position: absolute;
	top: 280px;
	left: 125px;
	width: 40px;
	height: 40px;
	background: #D68;
	border: solid black 4px;
	border-radius: 0 0 20px 20px;
	z-index: 1;
}

.right-paw{
		content:'';
		position: absolute;
		display: block;
		width: 74px;
		height: 90px;
		bottom: -20px;
		right: 25px;
		background: #e49553;
		border-radius: 50px;
		border-bottom: 10px dotted black;
	

}
.left-paw{
		content:'';
		position: absolute;
		display: block;
		width: 74px;
		height: 90px;
		bottom: -20px;
		left: 25px;
		background: #e49553;
		border-radius: 44px;
		border-bottom: 10px dotted black;
}
#login{
	margin-top: 200px;
	width: 424px;
	height: 400px;
	margin: 0 auto;
	display: block;
	
}
#username, #password{
	padding: 30px;
	width: 362px;
}

#actions{
	margin-top: 25px;
	margin-bottom: 20px;
}
button{
	width: 427px;
	height: 50px;
	border: solid black 3px 3px 3px;
}
header{
	text-align: center;
}

.pawlogo{
	font-size: 62px;
	font-family: 'Mouse Memoirs', sans-serif;

}
/*form styles*/
#msform {
	width: 400px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	margin-bottom: 20px;
	
	/*stacking fieldsets above each other*/
	position: absolute;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 85%;
	box-sizing: border-box;
	font-family: 'Mouse Memoirs', sans-serif;
	color: #2C3E50;
	font-size: 20px;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: #D68;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
	font-size: 20px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px rgb(68,188,218);
}
/*headings*/
.fs-title {
	font-size: 25px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
	font-family: 'Mouse Memoirs', sans-serif;
}
.fs-subtitle {
	font-weight: normal;
	font-family: 'Mouse Memoirs', sans-serif;
	font-size: 22px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 18px;
	width: 33.33%;
	float: left;
	position: relative;
	font-family: 'Mouse Memoirs', sans-serif;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 18px;
	color: white;
	background: #D68;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #D68;
	color: white;
}




@media only screen and (min-width: 320px) and (max-width:480px){
	h1{
		font-size: 48px;
		padding: 20px;
	}
.dog{

		background-size: 64%;
		position: relative;
		vertical-align: top;
		width: 200px;
		height: 200px;
		background: #e49553;
		border-radius: 200px 200px 200px 200px;
		text-align: center;
		margin: 0 auto;
		box-shadow: 20px 20px 20px black;
		border: solid 2px 2px 2px black;
}
.left-eye{
		content: '';
		position: absolute;
		display: block;
		width: 20px;
		height: 20px;
		top: 45px;
		left: 47px;
		background: black;
		border-radius: 35px 35px 35px 35px;
		border: 13px solid white;
}
.right-eye{
		content: '';
		position: absolute;
		display: block;
		width: 20px;
		height: 20px;
		top: 45px;
		right: 47px;
		background: black;
		border-radius: 35px 35px 35px 35px;
		border: 13px solid white;
}
	
.left-ear{
		content: '';
		position: absolute;
		display: block;
		width: 63px;
		height: 132px;
		top: -5px;
		bottom: -20px;
		left: -35px;
		background: #3a210a;
		border-radius: 204px 4px 204px 4px;
		transform: rotate(24deg);
		-webkit-transform: rotate(24deg);	
}


.right-ear{
		content: '';
		position: absolute;
		display: block;
		width: 63px;
		height: 132px;
		top: -5px;
		bottom: -20px;
		right: -35px;
		background: #3a210a;
		border-radius: 4px 204px 4px 204px;
		transform: rotate(-24deg);
		-webkit-transform: rotate(-24deg);
}

.nose{
		content: '';
		position: absolute;
		display: block;
		width: 50px;
		height: 34px;
		background: black;
		right: 69px;
		top: 97px;
		border-radius: 40px 40px 240px 240px;
		border: 4px solid #D68;
}

.tounge{
		position: absolute;
		top: 152px;
		left: 83px;
		width: 30px;
		height: 30px;
		background: #D68;
		border: solid black 4px;
		border-radius: 0 0 20px 20px;
		z-index: 1;
}

.right-paw{
		content: '';
		position: absolute;
		display: block;
		width: 40px;
		height: 60px;
		bottom: -13px;
		right: 25px;
		background: #e49553;
		border-radius: 50px;
		border-bottom: 10px dotted black;
	

}
.left-paw{
		content: '';
		position: absolute;
		display: block;
		width: 40px;
		height: 60px;
		bottom: -13px;
		left: 24px;
		background: #e49553;
		border-radius: 44px;
		border-bottom: 10px dotted black;
}
	
	#login{
		width:300px;
		height:230px;
		margin:0 auto;
	}
	#username, #password{
		padding: 5px;
		width: 275px;
	}
	button{
		width: 290px;
		height: 25px;
	}
}