<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>PawHelp</title>
  <link rel="stylesheet" href="/components/fullcalendar/fullcalendar.print.css" type="text/css" media="all">
  <link rel="stylesheet" href="/components/fullcalendar/fullcalendar.css" type="text/css" media="all">
  <script type="text/javascript" src="/components/jquery/jquery.js"></script>
  <script type="text/javascript" src="/components/jquery-ui/ui/jquery-ui.js"></script>
  <script type="text/javascript" src="/components/jquery-ui/ui/jquery.ui.draggable.js"></script>
  <script type="text/javascript" src="/components/jquery-ui/ui/jquery.ui.resizable.js"></script>
  <script type="text/javascript" src="/components/fullcalendar/fullcalendar.js"></script>
</head>

<body>
  <style type="text/css">
    #wrapper {
      width: 100%;
      overflow: hidden; /* will contain if #first is longer than #second */
    }
    #calendar {
        width: 65%;
        float:left; 

    }
    #events {
        width:33%;
        border: 1px solid black;
        border-bottom: 4px solid black;
        min-height: 100%;
        max-height: auto;
        position: fixed;
        top:10px;
        right: 0;
        bottom: 10px;
        overflow: hidden; /* if you don't want #second to wrap below #first */
    }

  </style>

  <div id="calendar" ></div>
  <div id="events" >place click events in here </div>


<script type="text/javascript">
 $(document).ready(function() {

    
    $("#calendar").fullCalendar({
        dayClick: function(date, allDay, jsEvent, view) {

          

          // change the day's background color when focused
          $(this).css('background-color', 'red');
          $("#events").html("<strong> This is the current date: " + date) ;


        }
       

    });

});

</script>
</body>
</html>