<html>
 <head>

 </head>
 <body>
  <h1>Registration</h1>
   <div id="regDiv">
    <form id="regForm" method="post" path="/app/register">
      <ul>
       <li>Email Address <input type="text" name="username" placeholder="example@example.com"/></li>
       <li>Password <input type="text" name="password" placeholder="password"/></li>
       <li>Re-Enter Password <input type="text" name="password2" placeholder=" re-enter password"/></li>
      </ul>
      <input type="submit" name="submit" value="register">
    </form>
   </div>
 </body>
</html>
