<html>
 <head>

 </head>
 <body>
  <h1>Registration</h1>
   <div id="regDiv">
    <form id="regForm" method="post" path="/app/register">
      <ul>
       <li>Email Address <input type="text" name="username" placeholder="example@example.com"/></li>
       <li>Password <input type="text" name="password" placeholder="Password"/></li>
       <li>Re-Enter Password <input type="text" name="password2" placeholder=" Re-enter Password"/></li>
       <li>Address <input type="text" name="address" placeholder="Address"/></li>
       <li>First Name <input type="text" name="firstname" placeholder="Firstname"/></li>
       <li>Postal Code<input type="text" name="postalcode" placeholder="Postal Code"/></li>
       
      </ul>
      <input type="submit" name="submit" value="register">
    </form>
   </div>
 </body>
</html>
